<nav class="navbar navbar-fixed-top bg-faded navbar-dark bg-primary">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" [routerLink]="['Dashboard']">
            TmpCode
        </a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item" [class.active]="getLinkStyle('/Dashboard')">
                <a class="nav-link" [routerLink]="['Dashboard']">
                    Dashboard
                </a>
            </li>
            <li class="nav-item" [class.active]="getLinkStyle('/Detail')">
                <a class="nav-link" [routerLink]="['/Detail']">
                    Detail
                </a>
            </li>
            <li class="nav-item" [class.active]="getLinkStyle('/Contact')">
                <a class="nav-link" [routerLink]="['/Contact']">
                    Contact
                </a>
            </li>
            <li class="nav-item" [class.active]="getLinkStyle('/About')">
                <a class="nav-link" [routerLink]="['/About']">
                    About
                </a>
            </li>
        </ul>
    </div>
</nav>