<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <h4>Contact</h4>

                <hr />

                <form [ngFormModel]="form" (ngSubmit)="onSubmit()" novalidate>
                    <fieldset class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" id="name" ngControl="name" placeholder="Enter full name"  />

                        <small class="text-muted" *ngIf="form.controls.name.touched && !form.controls.name.valid">The name is required.</small>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" ngControl="email" placeholder="Enter email address">

                        <small class="text-muted" *ngIf="form.controls.email.touched && !form.controls.email.valid">The email is required.</small>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="text">Message</label>
                        <textarea class="form-control" id="text" rows="3" ngControl="text" placeholder="Enter message"></textarea>

                        <small class="text-muted" *ngIf="form.controls.text.touched && !form.controls.text.valid">The message is required.</small>
                    </fieldset>

                    <div class="text-xs-right">
                        <button type="submit" class="btn btn-primary">Send</button>
                        <!--<button type="submit" class="btn btn-primary" [disabled]="!form.valid">Send</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



---------
<loader>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum enim eum ex nobis non officia porro ratione! Culpa ea ipsa labore, nam officia recusandae repudiandae velit voluptas voluptatibus! Earum?
</loader>
---------

